/*!
 * These WOFF/WOFF2 files are provided under the SIL Open Font License version 1.1
 * For more details, see WOFF extended metadata or https://opensource.org/licenses/OFL-1.1
 */
@charset "utf-8";
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/normal.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold.ttf) format('ttf');
  font-weight: 600;
  font-display: swap;
}